[Desktop Entry]
Name=Lite Software
GenericName=Lite Software
X-GNOME-FullName=Lite Software
Comment=A tool to easily install and remove popular software in Linux Lite
Exec=gksudo /usr/bin/lite-software
Icon=software-properties
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
